:root {
	/* background */
	--main-bg-color: #ffffff;
	--secondary-bg-color: #e7eeea;
	/* text color */
	--main-text-color: #2e302f;
	--secondary-text-color: #575757;
	/* buttons */
	--secondary-button-text-color: #ffffff;
	--button-secondary-color: #647b6e;
	--button-width: 100px;
	--button-height: 43px;
	--button-padding: 10px 16px;
	/* icons/SVGs */
	--icon-width: 20px;
	/* images */
	--image-width: 130px;
}

* {
	margin-block: 0px;
}

.checkout-h2{
    transition-duration: 0.4s;
}

label{
    transition-duration: 0.4s;
}

.checkout-form {
	display: flex;
	flex-direction: column;
	padding-inline: 10%;
	margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	transition-duration: 0.2s;
	outline: none;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
	border: 2px solid var(--button-secondary-color);
}

body {
	background-color: var(--main-bg-color);
}

input {
	border: solid var(--main-text-color) 1px;
}

select {
	border: solid var(--main-text-color) 1px;
}

.checkout-mail-div {
	display: grid;
	width: 100%;
}

.checkout-mail {
	width: 100%;
	border: solid var(--button-secondary-color) 1px;
}

.checkout-checkbox-div {
	display: flex;
	width: 100%;
}

.checkout-subscribe {
	border-style: none;
	color: green;
	margin-right: 10px;
}

.checkout-contact {
	display: flex;
	flex-flow: wrap row;
	margin-bottom: 10px;
}

.checkout-delivery {
	display: grid;
	margin-bottom: 10px;
}

.checkout-paypal,
.checkout-credit-card {
	margin-bottom: 10px;
}

.checkout-product-img {
	max-width: var(--image-width);
    transition-duration: 0.4s;
}

.checkout-items {
    transition-duration: 0.4s;
	display: grid;
	max-width: 100%;
	row-gap: 20px;
	column-gap: 20px;
}

.product {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	padding: 5px 10px 1px;
}

.select {
	background-color: var(--button-secondary-color);
	color: var(--secondary-button-text-color);
	border: none;
	padding: 10px 10px;
	margin-bottom: 10px;
    transition-duration: 0.4s;
}

.checkout-pay {
	background-color: var(--button-secondary-color);
	color: var(--secondary-button-text-color);
	border-style: none;
	cursor: pointer;
	height: 50px;
	font-weight: 100;
	font-kerning: 10ch;
}

.product-total {
	text-align: end;
}

.checkout-price {
	margin-top: 50px;
}

.thank-you {
	color: red;
}

@media (min-width: 425px) {
	.checkout-product-img {
        max-width: 130px;
	}
}

@media (min-width: 600px) {
	.checkout-items {
		grid-template-columns: repeat(2, 1fr);
	}
    .checkout-product-img {
        max-width: 140px;
	}
}

@media (min-width: 1024px) {
	.checkout-product-img {
        max-width: 300px;
	}
    .select{
        height: 50px;
        font-size: 1.4rem;
    }
    input{
        min-height: 30px;
    }
    label{
        font-size: 1.2rem;
    }
    .checkout-h2{
        font-size: 2rem;
    }
}
