:root {
    /* background */
    --main-bg-color:#ffffff;
    --secondary-bg-color: #E7EEEA;
    /* text color */
    --main-text-color: #2e302f;
    --secondary-text-color: #575757;
    /* buttons */
    --secondary-button-text-color: #ffffff;
    --button-secondary-color: #647b6e;
    --button-width: 100px;
    --button-height: 43px;
    --button-padding: 10px 16px;
    /* icons/SVGs */
    --icon-width: 20px;
    /* images */
    --image-width: 130px;
}

*{
    margin-block: 0px;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    margin-top: 10px;
}

input[type=text], input[type=tel], input[type=email]{
    transition-duration: 0.2s;
    outline: none;
}
input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus{
    border: 2px solid var(--button-secondary-color)
}

body {
	background-color: var(--main-bg-color);
}

input{
    border: solid var(--main-text-color) 1px;
}

select{
    border: solid var(--main-text-color) 1px;

}

.checkout-mail-div{
    display: grid;
    width: 100%;
}

.checkout-mail{
    width: 100%;
    border: solid var(--button-secondary-color) 1px;
}

.checkout-checkbox-div{
    display: flex;
    width: 100%;
}

.checkout-subscribe{
    border-style: none;
    color: green;
    margin-right: 10px;
}

.checkout-contact{
    display: flex;
    flex-flow: wrap row;
    margin-bottom: 10px;
}

.checkout-delivery{
    display: grid;
    margin-bottom: 10px;
}

.checkout-paypal, .checkout-credit-card{
    margin-bottom: 10px;
}

.checkout-product-img{
    max-width: var(--image-width);
}

.product{
    display: grid;
    flex-flow: column wrap;
    align-items: center;
}

.select{
    background-color: var(--button-secondary-color);
    color: var(--secondary-button-text-color);
    border: none;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.checkout-pay{
    background-color: var(--button-secondary-color);
    color: var(--secondary-button-text-color);
    border-style: none;
    cursor: pointer;
    height: 50px;
    font-weight: 900;
}

.checkout-price{
    margin-top: 50px;
}

.thank-you{
    color: red;
}

@media (min-width: 425px){

}