:root {
    /* background */
    --main-bg-color:#ffffff;
    --secondary-bg-color: #E7EEEA;
    /* text color */
    --main-text-color: #2e302f;
    --secondary-text-color: #575757;
    /* buttons */
    --secondary-button-text-color: #ffffff;
    --button-secondary-color: #647b6e;
    --button-width: 100px;
    --button-height: 43px;
    --button-padding: 10px 16px;
    /* icons/SVGs */
    --icon-width: 20px;
    /* images */
    --image-width: 130px;
}

*{
    margin-block: 0px;
}

body {
	background-color: var(--main-bg-color);
}

input{
    border: solid var(--main-text-color) 1px;
}

select{
    border: solid var(--main-text-color) 1px;

}

.checkout-delivery{
    display: grid;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
}

.checkout-product-img{
    max-width: var(--image-width);
}

.product{
    display: grid;
    border: solid red 1px;
    flex-flow: column wrap;
    align-items: center;
}

.amounter{
    border: solid var(--main-text-color) 1px;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    width: 100px;
}

.minus-btn{
    border-style: none;
    grid-column-start: 1;

}

.plus-btn{
    border-style: none;
    grid-column-start: 3;
    margin: 0px;
}

.amount{
    grid-column-start: 2;

    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

@media (min-width: 425px){

}