@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Special+Elite&display=swap');

:root {
    /* background */
    --main-bg-color:#ffffff;
    --secondary-bg-color: #E7EEEA;
    /* text color */
    --main-text-color: #2e302f;
    --secondary-text-color: #575757;
    /* buttons */
    --secondary-button-text-color: #ffffff;
    --button-secondary-color: #647b6e;
    --button-width: 100px;
    --button-height: 43px;
}

body{
    font-family: "Montserrat";
}

#filter-container{
    text-align: center;

}

#filter-container select{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    border: 0.5px solid var(--button-secondary-color);
    padding: 5px;
    outline: none;
    font-size: 1.1rem;
}

#filter-container select:hover{
    cursor: pointer;
    background-color: var(--button-secondary-color);
    color: var(--secondary-button-text-color);
}
 

/* Media Queries for responsiveness */
@media (max-width: 425px) {
    #filter-container select {
        width: auto;
        font-size: 0.9rem;
    }
}

@media (min-width: 600px) {
    #filter-container {
        text-align: right;
    }
    #filter-container select {
        width: auto;
        font-size: 1rem;
        margin-right: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    #filter-container {
        text-align: right;
    }
    #filter-container select {
        width: auto;
        font-size: 1.1rem;
        margin-right: 40px;
    }
}
