#product-descript-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    min-height: 12.5rem;
    width: 25rem;
    background: #ffffff; 
    border: none;
   
}

.product-descript-card {
    display: grid;
    grid-row: auto;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 2rem;
    font-size: 0.8rem;
}

dialog::backdrop {
    opacity: 0.5;
    background-color: black;
}

.product-descript-card .price {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.product-descript-card .description {
   margin-bottom: 15px;
   max-height: 100px;
   overflow: scroll;
}

.product-descript-card .add-to-cart {
    border: 1px solid black;
    background-color: white;
    margin-bottom: 5px;
   
}

.product-descript-card .close-btn {
  border: 1px solid black;
  background-color: white;
  padding: 10px 10px;

}



@media (max-width: 425px) {

}

@media (min-width: 600px) {

}

@media (min-width: 1024px) and (max-width: 1440px) {

}