
*{
    font-family: 'Poppins', sans-serif;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in a row */
  gap: 20px; /* Space between cards */
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  margin: 5px 0;
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
}
