
.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.shopping-cart-section {
    min-width: 90%; 
    height: fit-content;
    padding: 40px;
    background-color: var(--main-bg-color);
    border-radius: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.sc-header-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 0px;
}

.sc-number-items-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    font-size: 1.7rem;
}

.sc-close-button-container {
    display: flex;
    justify-content: flex-end;
}

.sc-close-button {
    background-color: var(--main-bg-color);
    border-style: none;
    width: 30px; 
    height: 30px; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/></svg>'); /* Embed the SVG directly */
    background-size: contain; 
    background-repeat: no-repeat; 
    cursor: pointer; 
}

.sc-header-line {
    border: 0.5px solid black;
    width: auto;
}

#cart-product-list {
    overflow: scroll;
    text-align: left;
    padding: 30px;
    min-height: 200px;
}


.product-cart {
    display: flex;
    gap:20px;
    font-size: 1.6rem;
    padding: 20px 0px;
}

.product-title-cart {
    width: 200px;
    height: fit-content;
    overflow: hidden;
    white-space: wrap;
    

}

.price-cart {
    padding: 0px 0px 0px 100px;
    text-align: right; 
    margin-right: 0px;
}

.button-container{
    display:flex;
    max-height: 50px;
    gap:20px;
    border: 0.5px solid black;
    padding: 5px;
    font-size: 1.5rem;
    align-items: center;
    margin-top: 5px;

    
}
 
#add-button {
    background-color: transparent;;
    border: none;

}

#remove-button{
    background-color: transparent;;
    border: none;

}

.sc-subtotal-checkout-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}
.sc-subtotal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7rem;
    padding: 15px 0px;

}

.sc-go-to-checkout-button{
    background-color: var( --button-secondary-color);
    border: none;
    width: 100%;
    height:50px;
    color:var( --secondary-button-text-color);
}


/* Media Queries for responsiveness */


@media (max-width: 425px) {
    .shopping-cart-section {
        padding: 20px;
    }

    .sc-header-container {
        padding:10px 0px;
    }
    .sc-number-items-container {
        gap: 20px;
        font-size: 1rem;
    }

    .sc-close-button {
        width: 30px; 
        height: 30px; 
      
    }

    #cart-product-list {
        overflow: scroll;
        text-align: left;
        padding: 10px;
        height: fit-content;
        max-height: 300px;
    }
    
    
    .product-cart {
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:0px;
        padding: 20px 0px 0px 0px;
    }
    
    .product-title-cart {
        grid-column: 1;
        grid-row: 1/ span 2;
        min-width: 80px;
        max-width: 140px;
        /* height: fit-content; */
        
    }
    
    .price-cart {
        grid-column: 2;
        grid-row: 1;
        padding: 0px 0px 0px 20px;
        font-size: 1rem;
    }
    
    .button-container{
        grid-column: 2;
        grid-row: 2;
        max-height: 30px;
        max-width:90px ;
        gap:10px;
        font-size: 0.9rem;
        justify-self: end;
        
    }
     
    #add-button {
        background-color: transparent;;
        border: none;
        font-size: 1.3rem;
        padding-right: 5px;
    }
    
    #remove-button{
        background-color: transparent;;
        border: none;
        font-size: 0.8rem;
    
    }
    
    .sc-subtotal-checkout-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        
    }
    .sc-subtotal-container {
        font-size: 1rem;
    
    }
    
    .sc-go-to-checkout-button{
        height:50px;
    }

    .sc-subtotal-tax-text{
        font-size: 0.7rem;
    }
}

/* Tablet and Smaller Desktop (600px and up) */
@media (min-width: 600px) {
 
}

/* Large Screens (1024px to 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {

}
