.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

 @media (max-width: 425px) {
/* Styles for the dialog (popup) */
    .shopping-cart-section {
      
        min-width: 100%;
        height: 90%;
        padding: 20px;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
    }


    .sc-header-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        
    }
    
    .sc-number-items-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 4px;
    }

    .sc-close-button-container {
        display: flex;
        justify-content: flex-end;
    }

    /* .sc-close-button {

    } */

    .sc-header-line {
        border: 1px solid black;
        width:auto;
    }

    /* products section */

    .sc-products-display-container {
        width:fit-content;
        height:300px;
    }

    
    /* subtotal section */
    .sc-subtotal-checkout-container {
        display: flex;
        flex-direction: column;
    
    }

    .sc-subtotal-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sc-subtotal-tax-text{
        align-self: center;
    }
}