:root {
    /* background */
    --main-bg-color:#ffffff;
    --secondary-bg-color: #E7EEEA;
    /* text color */
    --main-text-color: #2e302f;
    --secondary-text-color: #575757;
    /* buttons */
    --secondary-button-text-color: #ffffff;
    --button-secondary-color: #647b6e;
}

body {
    background-color: rgb(255, 255, 255);
}